@model ApplicationCore.Models.Response.CastDetailsResponseModel

<div class="card mb-4 shadow bg-light">
    <a asp-controller="Movies" asp-action="CastDetails" asp-route-id="@Model.Id">
    </a>
</div>